body {
  margin: 0px;
  padding: 0px;
}

.container {
  width: 80%;
  height: 100%;
  margin: auto;
}

h1 {
  font-size: 38px;
  margin-bottom: 0;
}

/* Logo Inizio */
.main_header {
  height: 100px;
  background-image: url(../img/pattern.png);
  background-color: #4ea0ff;
  background-size: 410px;
}

#logo {
  height: 50px;
  margin-top: 40px;
}
/* Logo Fine */

/* Titolo Articolo Inizio */
address {
  color: lightslategray;
  font-style: normal;
  font-size: 18px;
}

.author_name {
  text-decoration: none;
  color: #4ea0ff;
}

.pubdate {
  font-size: 12px;
  color: lightslategray;
}

figcaption {
  font-size: 12px;
}
/* Titolo Articolo Fine */

/* Articolo Inizio */
ul {
  padding-inline-start: 0px;
  list-style-position: inside;
}
.evidenziato {
  background-color: yellow;
}
table {
  text-align: left;
  border-collapse: collapse;
}
thead {
  background-color: rgb(32, 169, 229);
  color: white;
}
.speciale {
  background-color: rgb(177, 229, 242);
}
.piccola_cella {
  width: 20%;
}
.grande_cella {
  width: 60%;
}
/* Articolo Fine */

/* footer inizio */
.consigli {
  color: lightslategray;
  font-size: 16px;
  margin-bottom: 0;
  padding-bottom: 0;
}
.articolo_consigliato_uno {
  width: 200px;
  height: 160px;
  background-image: url(../img/monitor.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.articolo_consigliato_due {
  width: 200px;
  height: 160px;
  background-image: url(../img/graph.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.titolo_consiglio {
  color: white;
  font-size: 16px;
  padding: 10px;
  margin-top: 5px;
}
/* Footer Fine */
