body {
  margin: 0px;
  padding: 0px;
}
main {
  margin-left: 1%;
  margin-right: 1%;
}

/* Logo Inizio */
header {
  height: 90px;
  background-image: url(../img/pattern.png);
  background-color: rgb(78, 170, 255);
  background-size: contain;
}

.logo {
  background-image: url(../img/logo.svg);
  background-repeat: no-repeat;
  height: 45px;
  position: absolute;
  top: 40px;
  left: 1%;
  right: 0;
}
/* Logo Fine */

/* Titolo Articolo Inizio */
address {
  color: lightslategray;
  font-style: normal;
}

a {
  text-decoration: none;
  color: rgb(100, 200, 240);
}

figcaption {
  font-size: 12px;
}
/* Titolo Articolo Fine */

/* Articolo Inizio */
.evidenziato {
  background-color: yellow;
}
table {
  text-align: left;
  border-collapse: collapse;
}
thead {
  background-color: rgb(32, 169, 229);
  color: white;
}
.speciale {
  background-color: rgb(177, 229, 242);
}
.piccola_cella {
  width: 20%;
}
.grande_cella {
  width: 60%;
}
/* Articolo Fine */

/* footer inizio */
.consigli {
  color: lightslategray;
  font-size: 16px;
}
.articolo_consigliato_uno {
  width: 200px;
  height: 120px;
  background-image: url(../img/monitor.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}
.articolo_consigliato_due {
  width: 200px;
  height: 120px;
  background-image: url(../img/graph.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}
.titolo_consiglio {
  color: white;
  font-size: 16px;
  padding-left: 10px;
  padding-top: 10px;
}
/* Footer Fine */
